Django==1.9
Markdown==2.6.2
PyJWT==1.4.2
amqp==1.4.9
anyjson==0.3.3
arrow==0.7.0
billiard==3.3.0.23
blessed==1.14.1
celery==3.1.21
click==5.1
colorama==0.3.3
decorator==4.0.9
defusedxml==0.4.1
django-celery==3.1.17
django-debug-toolbar==1.4
django-extensions==1.6.1
django-guardian==1.4.1
django-haystack==2.4.0
django-picklefield==0.3.2
django-post-office==2.0.8
django-taggit==0.17.1
django-userena==2.0.1
djangorestframework==3.2.3
easy-thumbnails==2.3
fake-factory==0.5.7
future==0.15.2
html2text==2014.12.29
ipython==4.1.1
ipython-genutils==0.1.0
jsonfield==1.0.3
kombu==3.0.37
oauthlib==2.0.0
path.py==8.1.2
pexpect==4.0.1
pickleshare==0.6
pinax-cli==1.0.0
psycopg2==2.6.2
ptyprocess==0.5.1
pysolr==3.3.2
python-dateutil==2.4.2
python-social-auth==0.2.18
python3-openid==3.0.10
pytz==2015.7
requests==2.7.0
requests-oauthlib==0.7.0
simplegeneric==0.8.1
six==1.10.0
sqlparse==0.2.1
traitlets==4.1.0
wcwidth==0.1.6
wheel==0.24.0
